<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello <%= name %></h1>
    <form action="/logout" method="post">
        <button type="submit">Log out</button>
    </form>
    <%if (userData.length > 0){%>
        <%userData.forEach(item=>{%>
            <%if (item.data_type == 'video') {%>
                <video width="320" height="240" controls>
                    <source src="<%= item.download_url%>" type="video/mp4">
                </video>
                <a href="<%= item.url %>">Link</a>
                <p><%= item.note %></p>
                <form action="/myFavorite/<%= item.id %>?_method=put" method="post">
                    <input type="text" name="note" value="<%= item.note %>">
                    <button type="submit">Update</button>
                </form>
                <form action="/myFavorite/<%= item.id %>?_method=delete" method="post">
                    <button type="submit">Remove</button>
                </form>
            <%} else if(item.data_type == 'image'){%>
                <img src="<%= item.download_url %>" alt="" width="300" height="300">
                <a href="<%= item.url %>">Link</a>
                <p><%= item.note %></p>
                <form action="/myFavorite/<%= item.id %>?_method=put" method="post">
                    <input type="text" name="note" value="<%= item.note %>">
                    <button type="submit">Update</button>
                </form>
                <form action="/myFavorite/<%= item.id %>?_method=delete" method="post">
                    <button type="submit">Remove</button>
                </form>
            <%}%>
        <%})%>
    <%}%>
</body>
</html>