<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script id="main" type="text/x-tmpl-mustache">
            <section id="photo-template">
              <img src="{{imageURL}}" alt="">
              <p>{{url}}</p>
              <p>{{data_type}}</p>
            </section>
        </script>
    </head>
    <body>
        <form action="/search" method="post">
            <input type="text" name="search_engine" id="title">
            <input type="radio" name="category" value="images" id="image">image
            <input type="radio" name="category" value="videos" id="">video
            <input type="radio" name="category" value="gifs" id="">Giphy
            <button type="submit">Search Results</button>
        </form>
        
        <%if (images.length > 0){%>
            <%images[0].forEach(image=>{%>
                <div>
                    <img src="<%= image.image_url %>" width="300" height="300" alt="" srcset="">
                    <p><%= image.url %></p>
                    <form action="/addFavorite" method="post">
                        <input type="hidden" name="download_url" value="<%= image.image_url %>">
                        <input type="hidden" name="url" value="<%= image.url %>">
                        <input type="hidden" name="data_type" value="<%= 'image' %>">
                        <button type="submit">Add to Favorite</button>
                    </form>
                </div>
                <%})%>
                <hr>
                <hr>
                <%images[1].forEach(image=>{%>
                    <div>
                        <img src="<%= image.image_url %>" width="300" height="300" alt="" srcset="">
                        <p><%= image.url %></p>
                        <form action="/addFavorite" method="post">
                            <input type="hidden" name="download_url" value="<%= image.image_url %>">
                            <input type="hidden" name="url" value="<%= image.url %>">
                            <input type="hidden" name="data_type" value="<%= 'image' %>">
                            <button type="submit">Add to Favorite</button>
                        </form>
                    </div>
                    <%})%>
                    <button class="loadMore">Load More</button>    
                    <div class="main">
                        <section id="photo-template">
                            <img src="" alt="">
                            <p></p>
                        </section>
                    </div>
    <%}%>

    <%if (videos.length > 0  ){%>
        <%videos[0].forEach(video=>{%>
            <div>
                <video width="320" height="240" controls>
                    <source src="<%= video.video_url%>" type="video/mp4">
                </video>
                <p><%=video.url%> </p>
                <form action="/addFavorite" method="post">
                    <input type="hidden" name="download_url" value="<%= video.video_url %>">
                    <input type="hidden" name="url" value="<%= video.url %>">
                    <input type="hidden" name="data_type" value="<%= 'video' %>">
                    <button type="submit">Add to Favorite</button>
                </form>
            </div>
        <%})%>
        <hr>
        <hr>
        <%videos[1].forEach(video=>{%>
            <div>
                <video width="320" height="240" controls>
                    <source src="<%= video.video_url%>" type="video/mp4">
                  </video>
                <p><%=video.url%> </p>
                <form action="/addFavorite" method="post">
                    <input type="hidden" name="download_url" value="<%= video.video_url %>">
                    <input type="hidden" name="url" value="<%= video.url %>">
                    <input type="hidden" name="data_type" value="<%= 'video' %>">
                    <button type="submit">Add to Favorite</button>
                </form>
            </div>
        <%})%>
    <%}%>

    <%if (gifs.length > 0  ){%>
        <%gifs.forEach(video=>{%>
            <div>
                <video width="320" height="240" controls>
                    <source src="<%= video.gif_url%>" type="video/mp4">
                  </video>
                <p><%=video.url%> </p>
                <form action="/addFavorite" method="post">
                    <input type="hidden" name="download_url" value="<%= video.video_url %>">
                    <input type="hidden" name="url" value="<%= video.url %>">
                    <input type="hidden" name="data_type" value="<%= 'video' %>">
                    <button type="submit">Add to Favorite</button>
                </form>
            </div>
        <%})%>
        
    <%}%>

    <%if (noChoice.length > 0  ){%>
        <p><%= noChoice %></p>
        
    <%}%>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/app.js">
    </script>
</body>
</html>