<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
        <script id="image" type="text/x-tmpl-mustache">
            <section class="photo-template">
              <img src="{{imageURL}}" alt="">
              <a href="{{url}}" target="_blank" class="btn">Image Link</a>
              <form action="/addFavorite" method="post">
                <input type="hidden" name="download_url" value="{{imageURL}}">
                <input type="hidden" name="url" value="{{url}}">
                <input type="hidden" name="data_type" value="{{data_type}}">
                <button type="submit" class="btn">Add to Favorite</button>
            </form>
            </section>
        </script>
        <script id="video" type="text/x-tmpl-mustache">
            <section class="video-template">
                <video controls>
                    <source src="{{imageURL}}" type="video/mp4">
                </video>
            <a href="{{url}}" target="_blank" class="btn">Video Link</a>
              <form action="/addFavorite" method="post">
                <input type="hidden" name="url" value="{{url}}">
                <input type="hidden" name="data_type" value="{{data_type}}">
                <button type="submit" class="btn">Add to Favorite</button>
            </form>
            </section>
        </script>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>Profile Page</h1>
            </header>
            <form action="/search" method="post" class="search-box">
                <div>
                    <input type="text" name="search_engine" id="title" placeholder="type what you like to search...">
                </div>
                <div class="container-radio">
                    <ul>
                        <li>
                          <input type="radio" id="f-option" name="category" value="images">
                          <label for="f-option">Image</label>
                          
                          <div class="check"></div>
                        </li>
                        
                        <li>
                          <input type="radio" id="s-option" name="category" value="videos">
                          <label for="s-option">Video</label>
                          
                          <div class="check"><div class="inside"></div></div>
                        </li>
                        
                        <li>
                          <input type="radio" id="t-option" name="category" value="gifs">
                          <label for="t-option">Giphy</label>
                          
                          <div class="check"><div class="inside"></div></div>
                        </li>
                      </ul>
                </div>
                <input type="hidden" name="sure" value="change">
                <div>
                    <button type="submit" class="btn search">Search Results</button>
                </div>
            </form>
            
            <%if (images.length > 0){%>
                <div class="main">
                    <%images[0].forEach(image=>{%>
                        <div class="photo-template">
                            <img src="<%= image.image_url %>" alt="" srcset="">
                            <a href="<%= image.url %>" target="_blank" class="btn">Image Link</a>
                            <form action="/addFavorite" method="post">
                                <input type="hidden" name="download_url" value="<%= image.image_url %>">
                                <input type="hidden" name="url" value="<%= image.url %>">
                                <input type="hidden" name="data_type" value="<%= 'image' %>">
                                <button type="submit" class="btn">Add to Favorite</button>
                            </form>
                        </div>
                    <%})%>
                    <%images[1].forEach(image=>{%>
                        <div class="photo-template">
                            <img src="<%= image.image_url %>" alt="" srcset="">
                            <a href="<%= image.url %>" target="_blank" class="btn">Image Link</a>
                            <form action="/addFavorite" method="post">
                                <input type="hidden" name="download_url" value="<%= image.image_url %>">
                                <input type="hidden" name="url" value="<%= image.url %>">
                                <input type="hidden" name="data_type" value="<%= 'image' %>">
                                <button type="submit" class="btn">Add to Favorite</button>
                            </form>
                        </div>
                    <%})%>   
                    <div class="main-load">
                        <section class="photo-template">
                            <img src="" alt="">
                            <a href="" target="_blank" class="btn">Image Link</a>
                            <form action="/addFavorite" method="post">
                                <input type="hidden" name="download_url" value="">
                                <input type="hidden" name="url" value="">
                                <input type="hidden" name="data_type" value="">
                                <button type="submit" class="btn">Add to Favorite</button>
                            </form>
                        </section>
                    </div>
                </div>
                <div class="loading">
                    <button class="loadMore btn">Load More</button> 
                </div>
            <%}%>
    
            <%if (videos.length > 0  ){%>
                <div class="main">
                    <%videos[0].forEach(video=>{%>
                        <div class="video-template">
                            <video controls>
                                <source src="<%= video.video_url%>" type="video/mp4">
                            </video>
                            <a href="<%=video.url%>" target="_blank" class="btn">Video Link</a>
                            <form action="/addFavorite" method="post">
                                <input type="hidden" name="download_url" value="<%= video.video_url %>">
                                <input type="hidden" name="url" value="<%= video.url %>">
                                <input type="hidden" name="data_type" value="<%= 'video' %>">
                                <button type="submit" class="btn">Add to Favorite</button>
                            </form>
                        </div>
                    <%})%>
                    <%videos[1].forEach(video=>{%>
                        <div class="video-template">
                            <video controls>
                                <source src="<%= video.video_url%>" type="video/mp4">
                            </video>
                            <a href="<%=video.url%>" target="_blank" class="btn">Video Link</a>
                            <form action="/addFavorite" method="post">
                                <input type="hidden" name="download_url" value="<%= video.video_url %>">
                                <input type="hidden" name="url" value="<%= video.url %>">
                                <input type="hidden" name="data_type" value="<%= 'video' %>">
                                <button type="submit" class="btn">Add to Favorite</button>
                            </form>
                        </div>
                    <%})%>
                    <div class="main-load">
                        <section class="video-template">
                            <video controls>
                                <source src="" type="video/mp4">
                                </video>
                                <a href="" target="_blank" class="btn">Video Link</a>
                            <form action="/addFavorite" method="post">
                                <input type="hidden" name="download_url" value="">
                                <input type="hidden" name="url" value="">
                                <input type="hidden" name="data_type" value="">
                                <button type="submit" class="btn">Add to Favorite</button>
                            </form>
                        </section>
                    </div>
                </div>   
                <div class="loading">
                    <button class="loadMore btn">Load More</button> 
                </div>
            <%}%>
        
            <%if (gifs.length > 0  ){%>
                <div class="main">
                    <%gifs.forEach(video=>{%>
                        <div class="video-template">
                            <video controls>
                                <source src="<%= video.gif_url%>" type="video/mp4">
                            </video>
                            <a href="<%=video.url%>" target="_blank" class="btn">Video Link</a>
                            <form action="/addFavorite" method="post">
                                <input type="hidden" name="download_url" value="<%= video.gif_url %>">
                                <input type="hidden" name="url" value="<%= video.url %>">
                                <input type="hidden" name="data_type" value="<%= 'video' %>">
                                <button type="submit" class="btn">Add to Favorite</button>
                            </form>
                        </div>
                    <%})%>
                    
                    <div class="main-load">
                        <section class="video-template">
                            <video controls>
                                <source src="" type="video/mp4">
                                </video>
                                <a href="" target="_blank" class="btn">Video Link</a>
                            <form action="/addFavorite" method="post">
                                <input type="hidden" name="download_url" value="">
                                <input type="hidden" name="url" value="">
                                <input type="hidden" name="data_type" value="">
                                <button type="submit" class="btn">Add to Favorite</button>
                            </form>
                        </section>
                    </div>
                </div>
                <div class="loading">
                    <button class="loadMore btn">Load More</button> 
                </div>
            <%}%>
        
            <%if (noChoice.length > 0  ){%>
                <p><%= noChoice %></p>
                
            <%}%>
        </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/app.js">
    </script>
</body>
</html>